extends layout

block content

  h1 Who are you?
  p Welcome to #{title}. I made this website so that Dan and I could code Werewolf into a website. Dan is kinda stinky, but that's ok.
  p Just a reminder that #{test}